<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.lw900925.ocean.core.repository.mybatis.mapper.ResourceMapper">
    <resultMap id="BaseResultMap" type="io.lw900925.ocean.core.model.entity.Resource">
        <id column="oid" jdbcType="VARCHAR" property="oid" />

        <result column="resource_name" jdbcType="VARCHAR" property="resourceName" />
        <result column="description" jdbcType="VARCHAR" property="description" />
        <result column="uri" jdbcType="VARCHAR" property="uri" />
    </resultMap>

    <sql id="columns">
        oid,
        resource_name,
        `description`,
        uri
    </sql>

    <select id="select" resultMap="BaseResultMap">

    </select>

    <select id="selectOne" resultMap="BaseResultMap">

    </select>

    <insert id="insert" keyColumn="oid,name" keyProperty="oid,name">
        INSERT INTO oc_resource (
            oid,
            resource_name,
            `description`,
            uri
        ) VALUES (
            #{oid},
            #{resourceName},
            #{description},
            #{uri}
         )
    </insert>

    <delete id="delete">

    </delete>

    <update id="update">

    </update>

    <select id="selectReferenceAuthorities" resultType="java.lang.String">
        <![CDATA[
        SELECT
            b.authority
        FROM oc_resource a, oc_role_resource_ref b
        WHERE a.oid = b.resource_id
          AND a.oid = #{resourceId}
        ]]>
    </select>
</mapper>
