<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.lw900925.ocean.core.repository.mybatis.mapper.RoleMapper">
    <resultMap id="BaseResultMap" type="io.lw900925.ocean.core.model.entity.Role">
        <id column="authority" jdbcType="VARCHAR" property="authority"/>
        <result column="`description`" jdbcType="VARCHAR" property="description"/>
    </resultMap>

    <sql id="columns">
        authority,
        `description`
    </sql>

    <select id="select" resultMap="BaseResultMap">

    </select>

    <select id="selectOne" resultMap="BaseResultMap">
        SELECT
        <include refid="columns"/>
        FROM oc_role
        WHERE authority = #{authority}
    </select>

    <insert id="insert" keyColumn="authority" keyProperty="authority">

    </insert>

    <delete id="delete">

    </delete>

    <update id="update">

    </update>

    <select id="selectByUserReference" resultMap="BaseResultMap">
        <![CDATA[
        SELECT a.authority,
               a.`description`
        FROM oc_role a,
             oc_user_role_ref b
        WHERE a.authority = b.authority
          AND b.username = #{username}
        ]]>
    </select>

    <select id="selectByResourceReference" resultMap="BaseResultMap">
        <![CDATA[
        SELECT a.authority     AS authority,
               a.`description` AS description
        FROM oc_role a,
             oc_role_resource_ref b
        WHERE a.authority = b.authority
          AND b.resource_id = #{resourceId}
        ]]>
    </select>

    <select id="selectReferenceUsernames" resultType="java.util.List">
        <![CDATA[
        SELECT b.username
        FROM oc_role a,
             oc_user_role_ref b
        WHERE a.authority = b.authority
          AND a.authority = #{authority}
        ]]>
    </select>
</mapper>
